:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  /* ROOT STYLE VARIABLES */
  /* COLORS */
  --clr-gray-5: 0 0% 50%;

  /* Light Mode */
  --text-light: 220 26% 14%;
  --bg-light: 0 0% 99%;
  --accent-light: 118 88% 26%;
  --secondary-light: 209 67% 65%;
  --banner-light: hsl(var(--gray-9-hsl) / 5%);
  --bulb-light: 269 42% 56%;
  --footer-light: 0 0% 45%;

  /* Dark Mode */
  --text-dark: 0 0% 93%;
  --bg-dark: 240 4% 13%;
  --accent-dark: 71 71% 52%;
  --secondary-dark: 209 67% 40%;
  --banner-dark: hsl(var(--gray-0-hsl) / 4%);
  --bulb-dark: 245 8% 71%;
  --footer-dark: 0 0% 53%;
}

/* Dark/Light Mode System Changer */
@media (prefers-color-scheme: light) {
  :root {
    --clr-text: var(--text-light);
    --clr-bg: var(--bg-light);
    --clr-accent: var(--accent-light);
    --clr-secondary: var(--secondary-light);
    --clr-banner: var(--banner-light);
    --clr-bulb: var(--bulb-light);
    --clr-footer: var(--footer-light);
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text: var(--text-dark);
    --clr-bg: var(--bg-dark);
    --clr-accent: var(--accent-dark);
    --clr-secondary: var(--secondary-dark);
    --clr-banner: var(--banner-dark);
    --clr-bulb: var(--bulb-dark);
    --clr-footer: var(--footer-dark);
    color-scheme: dark;
  }
}

:root[color-scheme='light'] {
  --clr-text: var(--text-light);
  --clr-bg: var(--bg-light);
  --clr-accent: var(--accent-light);
  --clr-secondary: var(--secondary-light);
  --clr-banner: var(--banner-light);
  --clr-bulb: var(--bulb-light);
  --clr-footer: var(--footer-light);
  color-scheme: light;
}

:root[color-scheme='dark'] {
  --clr-text: var(--text-dark);
  --clr-bg: var(--bg-dark);
  --clr-accent: var(--accent-dark);
  --clr-secondary: var(--secondary-dark);
  --clr-banner: var(--banner-dark);
  --clr-bulb: var(--bulb-dark);
  --clr-footer: var(--footer-dark);
  color-scheme: dark;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color-scheme: light dark;
  background-color: hsl(var(--clr-bg));
  color: hsl(var(--clr-text));
}

a {
  font-weight: 500;
  color: hsl(var(--clr-primary));
  text-decoration: inherit;
}
a:hover {
  filter: brightness(90%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: hsl(var(--clr-accent));
  color: hsl(var(--clr-bg));
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: hsl(var(--clr-secondary));
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button,
input,
select,
textarea {
  font: inherit;
}

/* Utilities */
.hidden {
  display: none;
}

.offscreen {
  position: absolute;
  left: 10000px;
}

.error-alert {
  color: hsl(0, 68%, 42%);
  background-color: hsla(0, 68%, 42%, 0.25);
  margin-top: 2em;
  padding: 1em 0.6em;
  border-radius: 8px;
}

.blurred {
  backdrop-filter: blur(1rem);
}

.btn {
  cursor: pointer;
}

.container {
  width: min(100%, 1200px);
  margin-inline: auto;
  padding: 1em;
}

/* Navbar */
.navbar {
  background-color: hsl(var(--clr-banner));
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.navbar h1 {
  font-size: 1.8em;
}

.navbar__nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

/* Form */
.form {
  max-width: 600px;
  margin: 2em auto;
}

.form__control {
  margin-top: 2em;
}

.form input {
  width: 100%;
  display: block;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid hsl(var(--clr-gray-5));
}

.form input:invalid {
  border: 2px solid red;
}

.form input:invalid:required {
  background-image: linear-gradient(to right, hsla(7, 100%, 88%, 0.6), hsla(170, 73%, 75%, 0.6));
}

.form input:valid {
  border: 2px solid black;
}

.form__btn {
  margin-top: 2em;
}

.form__btn:disabled {
  opacity: 0.5;
}
